@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor:default;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Playfair Display', serif;
    background-color: var(--green);
}
:root{
    --yellow: #F5E9CF;
    --blue: #4D455D;
    --red: #E96479;
    --green: #7DB9B6;
}
.head-icon{
    filter: invert(70%) sepia(18%) saturate(541%) hue-rotate(128deg) brightness(94%) contrast(93%);
}

/* HEADER  */
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem ;
    margin-bottom: 2rem;
    background-color: var(--yellow);
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
}
h1{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--blue);
}
.nav-bar button{
    color: var(--blue);
    background-color:var(--red);
    border: none;
    font-family: inherit;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}
.nav-bar button:hover{
    background-color: #d25a6d;
}
.btn-cont{
    display: flex;
    justify-content: center;
}
.btn-cont button{
    cursor: pointer;
    border: none;
    font-family: inherit;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--blue);
    background: var(--yellow );
    margin-bottom: 2rem;
    transition: all 0.3s;
}
.btn-cont button:hover{
    background-color: #f7edd9;
}
.btn-cont button:focus{
    outline: none;
}
.add-icon{
    font-size: 2rem;
    cursor: pointer;
}
main{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 3rem;
}
.book-container{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
}
.book-container p{
    font-size: 2.4rem;
    color: var(--blue);
    font-weight:500;
}
.book-container button{
    font-size: 2.4rem;
    color: var(--blue);
    font-weight: 500;
    font-family: inherit;
    width: 26rem;
    padding: .8rem 0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.read{
    background-color: var(--green);
}
.read:hover{
    background-color: #8ac0bd;
}
.remove{
    background-color: var(--red);
}
.remove:hover{
    background-color: #eb7486;
}
.modal{
    position: fixed;
    width: 300px;
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--yellow);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
}
.modal-active{
    transform: translate(-50%, -50%) scale(1);
}
.add{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--blue);
    align-self: center;
}
.cross{
    font-size: 3rem;
    color: var(--red);
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}
.input{
    border: none;
    border-radius:.6rem ;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .8rem 1.5rem;
    color: var(--blue);
    cursor: pointer;
}
.input::placeholder{
    color: #827d8e;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.5rem;
}
.input:focus{
   outline: none;
}
.submit-btn{
    background-color: var(--green);
    border: none;
    font-family: inherit;
    align-self: center;
    padding: 1rem 4rem;
    border: none;
    color: var(--blue);
    font-size: 1.8rem;
    border-radius: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color:#71a7a4 ;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #192524;
    opacity: 55%;
}
.active{
    display: block;
}
.check{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.check p{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
}
.check input{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

/* responsive */
@media screen and (min-width:410px ) {
    .nav-bar{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width:700px ) {
    main{
        grid-template-columns: 1fr 1fr; 
    }
}
@media screen and (min-width:1020px ) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1200px ){
    .nav-bar{
        padding: 3rem 24rem;
        margin-bottom: 5rem;
    }
    .btn-cont{
        margin-bottom: 3rem;
    }
    main{
        padding: 0 24rem;
        justify-content: center;
    }
}